.sign-container {
  display: flex;

  .sign-left, .sign-right {
    width: 15%;
    min-width: 100px;
    background: blue url('/images/index_1.jpeg') repeat left top;
  }

  .sign-center {
    display: flex;
    padding: 10px;
    width: 70%;
    min-width: 350px;
    overflow: hidden;
    justify-content: center;
  }

  .form-container {
    width: 100%;

    .form-row {
      display: table-row;

      .form-cell {
        display: table-cell;
        padding-right: 10px;

        &.submit {
          padding: 15px;
        }

        &.p-top {
          padding-top: 16px;
        }

        &.p-bottom {
          padding-bottom: 16px;
        }
      }
    }
  }
}