@import "variables";

#main_menu_container {
  width: 100%;
  color: white;
  background: #00083f;

  a {
    color: $active-color;
  }

  .auth-cell-1, .auth-cell-2, .menu-cell {
    padding-left: 20px;
    padding-right: 20px;
    background: #00083f;
    height: $menu-height;
  }

  .auth-cell-1 {
    justify-content: flex-end;
  }

  .auth-cell-2 {
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .auth-cell-1, .auth-cell-2 {
    display: flex;
    align-items: center;
  }

  .menu-cell {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    div {
      display: table-cell;
      height: $menu-height;
      vertical-align: middle;

    &.middle-button{
      border-left: 1px solid $menu-separator-color;
      border-right: 1px solid $menu-separator-color;
    }

    &.active-btn {
      background: $active-color;
    }

    &:hover {
      background: $active-button-color;
      cursor: pointer;
    }

      span {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 2px;
      }
    }
  }
}